* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
:root {
    --deep-dark: rgb(26, 26, 26);
    --light-dark: rgb(79, 82, 92);
    --light-blue: rgb(0, 132, 255);
    --dark-blue: rgb(2, 84, 161);
    --light: rgb(245, 245, 245);
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light);
}
.todo {
    margin: 0px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(340deg, #045de9 0%, #09c6f9 100%);
    padding: 5em 0;
    border-radius: 5px 5px 0 0;
}
.heading {
    color: var(--light);
    margin-bottom: .7em;
    text-transform: uppercase;
    font-size: 4rem;
}
.formula {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whattodo {
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
}
.add {
    width: 50%;
    text-transform: uppercase;
    background-color: var(--light);
    border-radius: 5px;
    padding: 1em 0;
    transition: background-color .2s, color .3s;
}
.add:hover {
    background-color: var(--light-dark);
    color: var(--light);
}
.todolist {
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.listheading {
    font-size: 2.4rem;
    text-transform: uppercase;
    margin: 0.7em 0;
    font-weight: bold;
}
.alertinfo {
    font-size: 1.5rem;
    color: var(--dark-blue);
    margin: 0.5em;
}
.todolist ul {
    width: 100%;
}
.todolist li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0;
    background-color: var(--light);
    margin: 1em 0.3em;
    padding: 1em 1.3em;
    border-radius: 5px;
    font-size: 1.4rem;
}
.tools {
    display: inline-block
}
button {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}
.complete {
    color: rgb(0, 185, 71);
}
.complete:hover {
    background-color: rgb(0, 185, 71);
    color:rgb(245, 245, 245)
}
.edit {
    color:rgb(0, 132, 255);
    font-weight: bold;
    /* text-decoration: none; */
}
.edit:hover {
    background-color:rgb(0, 132, 255);
    color:rgb(245, 245, 245)
    
}
.delete {
    color:tomato;
}
.delete:hover {
    background-color:tomato;
    color:rgb(245, 245, 245)

}
.completed {
    /* font-size: 12px; */
    color: var(--light-dark);
    text-decoration: line-through;
    font-style: italic;
}

.popup {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: var(--light-dark);
    padding: 1em;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 5px rgba(82, 82, 82, .4);

    /* border-radius: 5px 5px 0 0; */
}
.popupheading {
    color: var(--light);
    margin: 1.5em;
    font-size: 1.8rem;
}
.popupinput {
    width: 95%;
    padding: 1em;
    margin: 2em 1em;
}
.popupbuttons {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    margin: 1.5em;
    width: 90%;
}
.popupbutton {
    background-color: var(--light);
    padding: 0.5em 1.6em;
    border-radius: 5px;
    border: none;
    transition: transform .3s;
}
.popupinfo {
    color: var(--light);
}

@media (min-width: 768px) {
    .formula {
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }
    .whattodo {
        width: 75%;
        margin: 1.5em;
        border-radius: 5px;
    }
    .add {
        width: 20%;
        padding: 0.9em
    }

    .todolist {
        /* margin: 0.5em 1em; */
    }
    .popup {
        width: 80%;
        margin: 50px;
        border-radius: 5px;
    }
    .popupbuttons {
        width: 50%;
    }
    .popupbutton {
        padding: 0.8em 2em;
    }
    button {
        padding: 0.8em;
    }
}
@media (min-width: 992px) {
    .todolist ul {
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .todo {
        /* margin: 10em 20em 0 20em; */
        width: 80%;
        margin-top: 10em;
    }
    .popup {
        width: 60%;
    }
}
@media (min-width: 1500px) {
    .todo {
        width: 75%;
    }
    .popup {
        width: 55%;
    }
}